<div class="row">
  <div class="col-xs-12">
    <p>Add New Servers</p>
    <label> Server Name </label>
    <input type="text" class="form-control" [(ngModel)]="newServerName" />
    <br />
    <br />
    <label> Server Content </label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" />
    <br />
    <br />
    <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
    <button class="btn btn-primary" (click)="onBlueprintServer()">
      Add Blue Print Server
    </button>
  </div>
</div>
